$fontSize: 16px;
$mainColor: rgb(255, 255, 255);
$back: #1f2021;
$red: #f83243;
$fontFamily: 'NunitoSans';

$maxWidth: 1440;
$maxWidthContainer: 1270;
$minWidth: 320px;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
