body {
    color: rgba(0, 0, 0, 0.626);
    box-sizing: border-box;
}

h1 {
    text-align: center;
}

.input-wrap {
    max-width: 200px;
    min-width: 100px;
    position: relative;
    margin: 0 auto;
}

input {
    border: 1px solid #d9d9d9;
    transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
    width: calc(100% - 24px);
    height: 30px;
    font-size: 14px;
    border-radius: 6px;
    padding: 0 12px;
    outline: none;
}
input:focus {
    border-color: #4096ff;
}
input:hover {
    border-color: #4096ff;
}

ul {
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    padding: 0;
    margin: 4px;
    list-style: none;
    border-radius: 6px;
    box-shadow: 0px 1px 2px 1px #d9d9d9;
    display: none;
}

ul.active {
    display: block;
}

li {
    max-width: calc(100% - 18px);
    padding: 2px 10px;
    margin: 4px 0;
    display: block;
}

li:hover {
    background-color: rgb(223, 223, 223);
}

li:first-child {
    margin-top: 0;
}

li:last-child {
    margin-bottom: 0;
}
